.parentElem{

    display: flex;

}

.show_elem{

    margin-left: 10px;
    position: relative;
}

.hide{

    display: none;
}

.btn__close{

    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: 2px solid #fff;
    color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    transition: 0.5s;
}

.btn__close::after{

    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 5px;
}

.btn__close::before{

    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 12px;
    left: 5px;
}

.btn__close:hover{

    box-shadow: 0 0 15px #fff;
}
