
.cont__main{
    display: block;
}

.contacts__parent{

    width: 650px;
    padding: 30px 20px 20px 20px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #222;

    margin: 0 auto;
    margin-top: 20px;

}

.contacts__parent_active{

    background-color: #232;
    box-shadow: 0 0 20px #666;
}

.contacts__inputs{

    background-color: #333;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #ccf;
    width: 350px;
    border-radius: 5px;
    color: #fff;
}

.contacts__inputs::placeholder{

    color: #999;
}

.contacts__btn{

    padding: 8px 20px 8px 20px;
    border: 2px solid #ccc;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px;
}

.contacts__btn:hover{

    background-color: #000;
    box-shadow: 0 0 10px #666;
}


.cont__parent{

    width: 650px;
    background-color: #222;
    color: #ddd;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #666;
    /* display: flex; */
    
}

.cont__child{

    margin-bottom: 6px;
    width: 440px;
    display: inline-block;
}

.hide{

    display: none;
}

.edit__btn_ok{

    background-color: #3a3;
    
}


.edit__btn_cancel{

    background-color: #a33;
    
}